:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --mainRed: #ff0000;
}

body {
  /* we need to use !important flag to override default bootstrap settings */
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}

.title-in-cart {
  font-size: 1.2rem;
  text-decoration: underline;
}

.btn-black {
  /* we need to use !important flag to override default bootstrap settings */
  font-size: 0.8rem !important;
  border: 0.1rem solid var(--mainDark) !important;
  background: transparent;
  text-transform: capitalize;
  color: var(--mainDark);
}

.btn-black:hover {
  background: var(--mainDark);
  color: var(--mainWhite) !important;
}

.count {
  background: var(--lightBlue) !important;
  color: var(--mainWhite) !important;
  cursor: auto !important;
}

.remove-item {
  font-size: 1.3rem;
  cursor: pointer;
  color: var(--mainRed) !important;
}
